.App {
  display: flex;
  padding: 100px 20%;
  background: lightgray;
}

/* Sidebar */

.sidebar {
  width: 25%;
  margin-right: 10px;
  border-radius: 5px 0 0 5px;
  background: white;
}

.sidebar-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.sidebar button {
  background: slateblue;
  color: white;
  cursor: pointer;
}
.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  padding: 20px 0;
  cursor: pointer;
  padding: 20px 0 20px 20px;
}

.selected {
  background: slateblue;
  color: white;
}

/* Editor */

.editor {
  width: 75%;
  background: white;
  border-radius: 0 5px 5px 0;
}

.editor-header {
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.editor-body textarea {
  width: 99%;
  border: white;
  resize: vertical;
}
