.App {
  display: flex;
  padding: 100px 20%;
  background: lightgray;
}

/* Sidebar */

.sidebar {
  width: 25%;
  margin-right: 10px;
  border-radius: 5px 0 0 5px;
  background: white;
}

.sidebar-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.sidebar .add-new-note {
  background: slateblue;
  color: white;
  cursor: pointer;
}

.sidebar-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.sidebar-summary--selected {
  background-color: slateblue;
  color: white;
}

.sidebar-delete-btn {
  background-color: slateblue;
  color: white;
  padding: 5px 10px;
}

.sidebar-delete-btn--selected {
  background: white;
  color: slateblue;
}

/* Editor */

.editor {
  width: 75%;
  background: white;
  border-radius: 0 5px 5px 0;
}

.editor-header {
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.editor-body textarea {
  width: 99%;
  border: white;
  resize: vertical;
}
